<section class="cta">
    <div class="cta-content">
        <div class="container" style="text-align:center">
            <h2 class="section-heading" style="margin:0 auto">Contactanos Ya Mismo!</h2>
            <h3 style="color:white">Llamanos y diagnosticaremos tu problema gratis!</h3>
            <div class="badges">
                <a class="badge-link" href="#"><img src="/img/whatsapp.png" alt=""></a>
                <a class="badge-link" href="#"><img src="/img/skype.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
