<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Contactanos Ya Mismo!</h2>
                <p>Llamanos y diagnosticaremos tu problema gratis!</p>
                <div class="badges">
                    <a class="badge-link" href="#"><img src="/img/whatsapp.png" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/skype.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
